--
-- PostgreSQL database dump
--

\restrict GouDNzWFvwbjyBbnaf0kYoXwRvlxKssXhb8EL7LyKen66q0rcXctFX58CxCarwe

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: align_news_article_dates(); Type: FUNCTION; Schema: public; Owner: taj_machine
--

CREATE FUNCTION public.align_news_article_dates() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    alignment RECORD;
BEGIN
    SELECT * INTO alignment FROM align_to_trading_day(NEW.published_at);
    NEW.trading_date := alignment.trading_date;
    NEW.is_market_hours := alignment.is_market_hours;
    NEW.alignment_rule := alignment.alignment_rule;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.align_news_article_dates() OWNER TO taj_machine;

--
-- Name: align_reddit_post_dates(); Type: FUNCTION; Schema: public; Owner: taj_machine
--

CREATE FUNCTION public.align_reddit_post_dates() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    alignment RECORD;
BEGIN
    SELECT * INTO alignment FROM align_to_trading_day(NEW.created_utc);
    NEW.trading_date := alignment.trading_date;
    NEW.is_market_hours := alignment.is_market_hours;
    NEW.alignment_rule := alignment.alignment_rule;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.align_reddit_post_dates() OWNER TO taj_machine;

--
-- Name: align_sec_filing_dates(); Type: FUNCTION; Schema: public; Owner: taj_machine
--

CREATE FUNCTION public.align_sec_filing_dates() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    alignment RECORD;
    timestamp_to_use TIMESTAMP WITH TIME ZONE;
BEGIN
    timestamp_to_use := COALESCE(NEW.acceptance_datetime, NEW.filing_date::TIMESTAMP WITH TIME ZONE);
    SELECT * INTO alignment FROM align_to_trading_day(timestamp_to_use);
    NEW.trading_date := alignment.trading_date;
    NEW.is_market_hours := alignment.is_market_hours;
    NEW.alignment_rule := alignment.alignment_rule;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.align_sec_filing_dates() OWNER TO taj_machine;

--
-- Name: align_timestamp_to_trading_date(timestamp with time zone); Type: FUNCTION; Schema: public; Owner: taj_machine
--

CREATE FUNCTION public.align_timestamp_to_trading_date(input_timestamp timestamp with time zone) RETURNS date
    LANGUAGE plpgsql IMMUTABLE
    AS $$
DECLARE
    result RECORD;
BEGIN
    SELECT * INTO result FROM align_to_trading_day(input_timestamp);
    RETURN result.trading_date;
END;
$$;


ALTER FUNCTION public.align_timestamp_to_trading_date(input_timestamp timestamp with time zone) OWNER TO taj_machine;

--
-- Name: align_to_trading_day(timestamp with time zone, text); Type: FUNCTION; Schema: public; Owner: taj_machine
--

CREATE FUNCTION public.align_to_trading_day(input_timestamp timestamp with time zone, market_timezone text DEFAULT 'America/New_York'::text) RETURNS TABLE(trading_date date, is_market_hours boolean, alignment_rule character varying)
    LANGUAGE plpgsql IMMUTABLE
    AS $$
DECLARE
    local_time TIMESTAMP;
    event_date DATE;
    event_time TIME;
    market_open TIME := '09:30:00';
    market_close TIME := '16:00:00';
    next_trading DATE;
    is_trading BOOLEAN;
BEGIN
    -- Convert to market timezone (NYSE = Eastern Time)
    local_time := input_timestamp AT TIME ZONE market_timezone;
    event_date := local_time::DATE;
    event_time := local_time::TIME;
    
    -- Check if during market hours
    is_market_hours := (event_time >= market_open AND event_time < market_close);
    
    -- Check if event date is a trading day
    SELECT tc.is_trading_day INTO is_trading
    FROM trading_calendar tc
    WHERE tc.calendar_date = event_date;
    
    -- Alignment logic
    IF is_trading AND is_market_hours THEN
        -- Event during market hours on a trading day
        trading_date := event_date;
        alignment_rule := 'same_day_market_hours';
        
    ELSIF is_trading AND event_time >= market_close THEN
        -- Event after market close on a trading day
        trading_date := get_next_trading_day(event_date + 1);
        is_market_hours := FALSE;
        alignment_rule := 'after_hours_to_next';
        
    ELSIF is_trading AND event_time < market_open THEN
        -- Event before market open on a trading day
        trading_date := event_date;
        is_market_hours := FALSE;
        alignment_rule := 'pre_market_to_same';
        
    ELSE
        -- Event on non-trading day (weekend/holiday)
        trading_date := get_next_trading_day(event_date);
        is_market_hours := FALSE;
        alignment_rule := 'non_trading_day_to_next';
    END IF;
    
    RETURN QUERY SELECT trading_date, is_market_hours, alignment_rule;
END;
$$;


ALTER FUNCTION public.align_to_trading_day(input_timestamp timestamp with time zone, market_timezone text) OWNER TO taj_machine;

--
-- Name: generate_summary_report(); Type: FUNCTION; Schema: public; Owner: taj_machine
--

CREATE FUNCTION public.generate_summary_report() RETURNS TABLE(section character varying, subsection character varying, metric character varying, value text)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    -- Overall stats
    SELECT 
        'Overall Statistics'::VARCHAR,
        'Database Totals'::VARCHAR,
        metric,
        value
    FROM summary_overall_stats
    
    UNION ALL
    
    -- Top tickers by data quality
    SELECT 
        'Top Tickers'::VARCHAR,
        'Best Data Coverage'::VARCHAR,
        symbol,
        overall_data_quality
    FROM summary_ticker_availability
    ORDER BY 
        CASE overall_data_quality 
            WHEN 'Excellent' THEN 1 
            WHEN 'Good' THEN 2 
            WHEN 'Moderate' THEN 3 
            ELSE 4 
        END
    LIMIT 10;
END;
$$;


ALTER FUNCTION public.generate_summary_report() OWNER TO taj_machine;

--
-- Name: get_next_trading_day(date); Type: FUNCTION; Schema: public; Owner: taj_machine
--

CREATE FUNCTION public.get_next_trading_day(input_date date) RETURNS date
    LANGUAGE plpgsql IMMUTABLE
    AS $$
DECLARE
    next_day DATE;
BEGIN
    SELECT MIN(calendar_date) INTO next_day
    FROM trading_calendar
    WHERE calendar_date >= input_date 
      AND is_trading_day = TRUE;
    RETURN next_day;
END;
$$;


ALTER FUNCTION public.get_next_trading_day(input_date date) OWNER TO taj_machine;

--
-- Name: get_previous_trading_day(date); Type: FUNCTION; Schema: public; Owner: taj_machine
--

CREATE FUNCTION public.get_previous_trading_day(input_date date) RETURNS date
    LANGUAGE plpgsql IMMUTABLE
    AS $$
DECLARE
    prev_day DATE;
BEGIN
    SELECT MAX(calendar_date) INTO prev_day
    FROM trading_calendar
    WHERE calendar_date <= input_date 
      AND is_trading_day = TRUE;
    RETURN prev_day;
END;
$$;


ALTER FUNCTION public.get_previous_trading_day(input_date date) OWNER TO taj_machine;

--
-- Name: is_trading_day(date); Type: FUNCTION; Schema: public; Owner: taj_machine
--

CREATE FUNCTION public.is_trading_day(check_date date) RETURNS boolean
    LANGUAGE plpgsql IMMUTABLE
    AS $$
DECLARE
    result BOOLEAN;
BEGIN
    SELECT is_trading_day INTO result
    FROM trading_calendar
    WHERE calendar_date = check_date;
    RETURN COALESCE(result, FALSE);
END;
$$;


ALTER FUNCTION public.is_trading_day(check_date date) OWNER TO taj_machine;

--
-- Name: populate_calendar(date, date); Type: FUNCTION; Schema: public; Owner: taj_machine
--

CREATE FUNCTION public.populate_calendar(start_date date, end_date date) RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO trading_calendar (
        calendar_date, 
        is_trading_day, 
        year, 
        month, 
        day_of_week,
        quarter
    )
    SELECT
        d,
        CASE WHEN EXTRACT(DOW FROM d) IN (0, 6) THEN FALSE ELSE TRUE END,
        EXTRACT(YEAR FROM d)::INTEGER,
        EXTRACT(MONTH FROM d)::INTEGER,
        CASE WHEN EXTRACT(DOW FROM d) = 0 THEN 6 ELSE EXTRACT(DOW FROM d) - 1 END,
        EXTRACT(QUARTER FROM d)::INTEGER
    FROM generate_series(start_date, end_date, '1 day'::INTERVAL) AS d
    ON CONFLICT (calendar_date) DO NOTHING;
END;
$$;


ALTER FUNCTION public.populate_calendar(start_date date, end_date date) OWNER TO taj_machine;

--
-- Name: run_all_quality_checks(); Type: FUNCTION; Schema: public; Owner: taj_machine
--

CREATE FUNCTION public.run_all_quality_checks() RETURNS TABLE(rule_name character varying, table_name character varying, severity character varying, records_failed bigint, status character varying, description text)
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_rule RECORD;
    v_failed_count BIGINT;
    v_status VARCHAR;
BEGIN
    FOR v_rule IN 
        SELECT rule_id, data_quality_rules.rule_name, data_quality_rules.table_name, 
               data_quality_rules.severity, sql_check, data_quality_rules.description
        FROM data_quality_rules 
        WHERE is_active = true
        ORDER BY rule_id
    LOOP
        BEGIN
            EXECUTE v_rule.sql_check INTO v_failed_count;
            
            v_status := CASE
                WHEN v_failed_count = 0 THEN 'pass'
                WHEN v_rule.severity = 'critical' THEN 'fail'
                ELSE 'warning'
            END;
            
            INSERT INTO data_quality_results (
                rule_id, records_failed, status
            ) VALUES (
                v_rule.rule_id, v_failed_count, v_status
            );
            
            RETURN QUERY SELECT 
                v_rule.rule_name, 
                v_rule.table_name, 
                v_rule.severity,
                v_failed_count, 
                v_status,
                v_rule.description;
        EXCEPTION WHEN OTHERS THEN
            RETURN QUERY SELECT 
                v_rule.rule_name,
                v_rule.table_name,
                v_rule.severity,
                -1::BIGINT,
                'error'::VARCHAR,
                ('Error: ' || SQLERRM)::TEXT;
        END;
    END LOOP;
END;
$$;


ALTER FUNCTION public.run_all_quality_checks() OWNER TO taj_machine;

--
-- Name: run_quality_check(integer); Type: FUNCTION; Schema: public; Owner: taj_machine
--

CREATE FUNCTION public.run_quality_check(p_rule_id integer) RETURNS TABLE(rule_name character varying, records_failed bigint, status character varying, details text)
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_rule data_quality_rules%ROWTYPE;
    v_failed_count BIGINT;
    v_start_time TIMESTAMP;
    v_execution_ms INTEGER;
BEGIN
    v_start_time := clock_timestamp();
    
    -- Get rule details
    SELECT * INTO v_rule FROM data_quality_rules WHERE rule_id = p_rule_id AND is_active = true;
    
    IF NOT FOUND THEN
        RAISE EXCEPTION 'Rule ID % not found or inactive', p_rule_id;
    END IF;
    
    -- Execute the validation query
    EXECUTE v_rule.sql_check INTO v_failed_count;
    
    v_execution_ms := EXTRACT(MILLISECONDS FROM clock_timestamp() - v_start_time);
    
    -- Determine status
    status := CASE
        WHEN v_failed_count = 0 THEN 'pass'
        WHEN v_rule.severity = 'critical' THEN 'fail'
        ELSE 'warning'
    END;
    
    -- Store result
    INSERT INTO data_quality_results (
        rule_id, records_checked, records_failed, 
        failure_rate, status, execution_time_ms
    ) VALUES (
        p_rule_id, NULL, v_failed_count,
        NULL, status, v_execution_ms
    );
    
    RETURN QUERY SELECT v_rule.rule_name, v_failed_count, status, v_rule.description;
END;
$$;


ALTER FUNCTION public.run_quality_check(p_rule_id integer) OWNER TO taj_machine;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: news_articles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news_articles (
    news_article_id bigint NOT NULL,
    article_id character varying(255),
    source character varying(100) NOT NULL,
    author character varying(255),
    title text NOT NULL,
    description text,
    content text,
    url text NOT NULL,
    published_at timestamp without time zone NOT NULL,
    retrieved_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    word_count integer,
    trading_date date,
    is_market_hours boolean,
    alignment_rule character varying(50)
);


ALTER TABLE public.news_articles OWNER TO postgres;

--
-- Name: reddit_posts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reddit_posts (
    reddit_post_id bigint NOT NULL,
    post_id character varying(20) NOT NULL,
    subreddit character varying(100) NOT NULL,
    author character varying(100),
    title text,
    selftext text,
    url text,
    score integer,
    upvote_ratio numeric(4,3),
    num_comments integer,
    created_utc timestamp without time zone NOT NULL,
    retrieved_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    trading_date date,
    is_market_hours boolean,
    alignment_rule character varying(50),
    CONSTRAINT check_upvote_ratio CHECK (((upvote_ratio >= (0)::numeric) AND (upvote_ratio <= (1)::numeric)))
);


ALTER TABLE public.reddit_posts OWNER TO postgres;

--
-- Name: sec_filings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sec_filings (
    filing_id bigint NOT NULL,
    ticker_id integer,
    accession_number character varying(20) NOT NULL,
    form_type character varying(10) NOT NULL,
    filing_date date NOT NULL,
    period_end_date date,
    filing_url text,
    document_text text,
    retrieved_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    acceptance_datetime timestamp without time zone,
    primary_document character varying(255),
    primary_doc_description text,
    form_category character varying(100),
    items_parsed character varying(255),
    trading_date date,
    is_market_hours boolean,
    alignment_rule character varying(50)
);


ALTER TABLE public.sec_filings OWNER TO postgres;

--
-- Name: alignment_statistics; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.alignment_statistics AS
 SELECT 'Reddit Posts'::text AS source,
    count(*) AS total_records,
    count(*) FILTER (WHERE ((reddit_posts.alignment_rule)::text = 'same_day_market_hours'::text)) AS same_day_market_hours,
    count(*) FILTER (WHERE ((reddit_posts.alignment_rule)::text = 'after_hours_to_next'::text)) AS after_hours,
    count(*) FILTER (WHERE ((reddit_posts.alignment_rule)::text = 'pre_market_to_same'::text)) AS pre_market,
    count(*) FILTER (WHERE ((reddit_posts.alignment_rule)::text = 'non_trading_day_to_next'::text)) AS non_trading_day
   FROM public.reddit_posts
  WHERE (reddit_posts.trading_date IS NOT NULL)
UNION ALL
 SELECT 'News Articles'::text AS source,
    count(*) AS total_records,
    count(*) FILTER (WHERE ((news_articles.alignment_rule)::text = 'same_day_market_hours'::text)) AS same_day_market_hours,
    count(*) FILTER (WHERE ((news_articles.alignment_rule)::text = 'after_hours_to_next'::text)) AS after_hours,
    count(*) FILTER (WHERE ((news_articles.alignment_rule)::text = 'pre_market_to_same'::text)) AS pre_market,
    count(*) FILTER (WHERE ((news_articles.alignment_rule)::text = 'non_trading_day_to_next'::text)) AS non_trading_day
   FROM public.news_articles
  WHERE (news_articles.trading_date IS NOT NULL)
UNION ALL
 SELECT 'SEC Filings'::text AS source,
    count(*) AS total_records,
    count(*) FILTER (WHERE ((sec_filings.alignment_rule)::text = 'same_day_market_hours'::text)) AS same_day_market_hours,
    count(*) FILTER (WHERE ((sec_filings.alignment_rule)::text = 'after_hours_to_next'::text)) AS after_hours,
    count(*) FILTER (WHERE ((sec_filings.alignment_rule)::text = 'pre_market_to_same'::text)) AS pre_market,
    count(*) FILTER (WHERE ((sec_filings.alignment_rule)::text = 'non_trading_day_to_next'::text)) AS non_trading_day
   FROM public.sec_filings
  WHERE (sec_filings.trading_date IS NOT NULL);


ALTER VIEW public.alignment_statistics OWNER TO taj_machine;

--
-- Name: stock_prices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_prices (
    price_id bigint NOT NULL,
    ticker_id integer,
    date date NOT NULL,
    open numeric(12,4),
    high numeric(12,4),
    low numeric(12,4),
    close numeric(12,4),
    adj_close numeric(12,4),
    volume bigint,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.stock_prices OWNER TO postgres;

--
-- Name: tickers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tickers (
    ticker_id integer NOT NULL,
    symbol character varying(10) NOT NULL,
    company_name character varying(255),
    sector character varying(100),
    industry character varying(100),
    cik character varying(10),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tickers OWNER TO postgres;

--
-- Name: data_completeness_summary; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.data_completeness_summary AS
 SELECT 'tickers'::text AS table_name,
    count(*) AS total_records,
    count(*) FILTER (WHERE (tickers.symbol IS NOT NULL)) AS non_null_symbols,
    count(*) FILTER (WHERE (tickers.company_name IS NOT NULL)) AS non_null_names,
    count(*) FILTER (WHERE (tickers.sector IS NOT NULL)) AS non_null_sectors
   FROM public.tickers
UNION ALL
 SELECT 'stock_prices'::text AS table_name,
    count(*) AS total_records,
    count(*) FILTER (WHERE (stock_prices.close IS NOT NULL)) AS non_null_symbols,
    count(*) FILTER (WHERE (stock_prices.volume IS NOT NULL)) AS non_null_names,
    count(*) FILTER (WHERE (stock_prices.adj_close IS NOT NULL)) AS non_null_sectors
   FROM public.stock_prices
UNION ALL
 SELECT 'reddit_posts'::text AS table_name,
    count(*) AS total_records,
    count(*) FILTER (WHERE (reddit_posts.title IS NOT NULL)) AS non_null_symbols,
    count(*) FILTER (WHERE ((reddit_posts.selftext IS NOT NULL) AND (reddit_posts.selftext <> ''::text))) AS non_null_names,
    count(*) FILTER (WHERE (reddit_posts.score IS NOT NULL)) AS non_null_sectors
   FROM public.reddit_posts
UNION ALL
 SELECT 'news_articles'::text AS table_name,
    count(*) AS total_records,
    count(*) FILTER (WHERE (news_articles.title IS NOT NULL)) AS non_null_symbols,
    count(*) FILTER (WHERE ((news_articles.content IS NOT NULL) AND (news_articles.content <> ''::text))) AS non_null_names,
    count(*) FILTER (WHERE (news_articles.author IS NOT NULL)) AS non_null_sectors
   FROM public.news_articles
UNION ALL
 SELECT 'sec_filings'::text AS table_name,
    count(*) AS total_records,
    count(*) FILTER (WHERE (sec_filings.form_type IS NOT NULL)) AS non_null_symbols,
    count(*) FILTER (WHERE (sec_filings.filing_date IS NOT NULL)) AS non_null_names,
    count(*) FILTER (WHERE (sec_filings.document_text IS NOT NULL)) AS non_null_sectors
   FROM public.sec_filings;


ALTER VIEW public.data_completeness_summary OWNER TO taj_machine;

--
-- Name: data_quality_results; Type: TABLE; Schema: public; Owner: taj_machine
--

CREATE TABLE public.data_quality_results (
    result_id bigint NOT NULL,
    rule_id integer,
    check_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    records_checked bigint,
    records_failed bigint,
    failure_rate numeric(5,2),
    status character varying(20),
    details jsonb,
    execution_time_ms integer
);


ALTER TABLE public.data_quality_results OWNER TO taj_machine;

--
-- Name: data_quality_rules; Type: TABLE; Schema: public; Owner: taj_machine
--

CREATE TABLE public.data_quality_rules (
    rule_id integer NOT NULL,
    rule_name character varying(100) NOT NULL,
    table_name character varying(50) NOT NULL,
    rule_type character varying(50) NOT NULL,
    sql_check text NOT NULL,
    severity character varying(20) DEFAULT 'warning'::character varying,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.data_quality_rules OWNER TO taj_machine;

--
-- Name: data_quality_dashboard; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.data_quality_dashboard AS
 SELECT r.table_name,
    r.rule_type,
    r.severity,
    count(*) AS total_rules,
    count(*) FILTER (WHERE ((res.status)::text = 'pass'::text)) AS passed,
    count(*) FILTER (WHERE ((res.status)::text = 'fail'::text)) AS failed,
    count(*) FILTER (WHERE ((res.status)::text = 'warning'::text)) AS warnings,
    max(res.check_timestamp) AS last_check
   FROM (public.data_quality_rules r
     LEFT JOIN LATERAL ( SELECT data_quality_results.status,
            data_quality_results.check_timestamp
           FROM public.data_quality_results
          WHERE (data_quality_results.rule_id = r.rule_id)
          ORDER BY data_quality_results.check_timestamp DESC
         LIMIT 1) res ON (true))
  WHERE (r.is_active = true)
  GROUP BY r.table_name, r.rule_type, r.severity
  ORDER BY r.table_name, r.rule_type;


ALTER VIEW public.data_quality_dashboard OWNER TO taj_machine;

--
-- Name: data_quality_latest_results; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.data_quality_latest_results AS
 SELECT r.rule_name,
    r.table_name,
    r.rule_type,
    r.severity,
    r.description,
    res.records_failed,
    res.status,
    res.check_timestamp,
    res.execution_time_ms
   FROM (public.data_quality_rules r
     JOIN LATERAL ( SELECT data_quality_results.result_id,
            data_quality_results.rule_id,
            data_quality_results.check_timestamp,
            data_quality_results.records_checked,
            data_quality_results.records_failed,
            data_quality_results.failure_rate,
            data_quality_results.status,
            data_quality_results.details,
            data_quality_results.execution_time_ms
           FROM public.data_quality_results
          WHERE (data_quality_results.rule_id = r.rule_id)
          ORDER BY data_quality_results.check_timestamp DESC
         LIMIT 1) res ON (true))
  WHERE (r.is_active = true)
  ORDER BY
        CASE res.status
            WHEN 'fail'::text THEN 1
            WHEN 'warning'::text THEN 2
            ELSE 3
        END, r.table_name, r.rule_name;


ALTER VIEW public.data_quality_latest_results OWNER TO taj_machine;

--
-- Name: data_quality_results_result_id_seq; Type: SEQUENCE; Schema: public; Owner: taj_machine
--

CREATE SEQUENCE public.data_quality_results_result_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.data_quality_results_result_id_seq OWNER TO taj_machine;

--
-- Name: data_quality_results_result_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: taj_machine
--

ALTER SEQUENCE public.data_quality_results_result_id_seq OWNED BY public.data_quality_results.result_id;


--
-- Name: data_quality_rules_rule_id_seq; Type: SEQUENCE; Schema: public; Owner: taj_machine
--

CREATE SEQUENCE public.data_quality_rules_rule_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.data_quality_rules_rule_id_seq OWNER TO taj_machine;

--
-- Name: data_quality_rules_rule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: taj_machine
--

ALTER SEQUENCE public.data_quality_rules_rule_id_seq OWNED BY public.data_quality_rules.rule_id;


--
-- Name: event_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_types (
    event_type_id integer NOT NULL,
    event_type_name character varying(50) NOT NULL,
    source_category character varying(50),
    description text
);


ALTER TABLE public.event_types OWNER TO postgres;

--
-- Name: event_types_event_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.event_types_event_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.event_types_event_type_id_seq OWNER TO postgres;

--
-- Name: event_types_event_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.event_types_event_type_id_seq OWNED BY public.event_types.event_type_id;


--
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    event_id bigint NOT NULL,
    ticker_id integer,
    event_type_id integer,
    event_timestamp timestamp without time zone NOT NULL,
    magnitude numeric(10,4),
    direction character varying(20),
    confidence numeric(4,3),
    source_id bigint,
    source_table character varying(50),
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.events OWNER TO postgres;

--
-- Name: events_event_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.events_event_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.events_event_id_seq OWNER TO postgres;

--
-- Name: events_event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.events_event_id_seq OWNED BY public.events.event_id;


--
-- Name: news_article_sentiment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news_article_sentiment (
    sentiment_id bigint NOT NULL,
    news_article_id bigint,
    ticker_id integer,
    sentiment_label character varying(20),
    sentiment_score numeric(5,4),
    positive_score numeric(5,4),
    negative_score numeric(5,4),
    neutral_score numeric(5,4),
    model_name character varying(100),
    model_version character varying(50),
    analyzed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_sentiment_score CHECK (((sentiment_score >= ('-1'::integer)::numeric) AND (sentiment_score <= (1)::numeric)))
);


ALTER TABLE public.news_article_sentiment OWNER TO postgres;

--
-- Name: news_article_sentiment_sentiment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.news_article_sentiment_sentiment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.news_article_sentiment_sentiment_id_seq OWNER TO postgres;

--
-- Name: news_article_sentiment_sentiment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.news_article_sentiment_sentiment_id_seq OWNED BY public.news_article_sentiment.sentiment_id;


--
-- Name: news_article_tickers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news_article_tickers (
    mapping_id bigint NOT NULL,
    news_article_id bigint,
    ticker_id integer,
    mention_count integer DEFAULT 1,
    prominence numeric(4,3),
    relevance numeric(4,3),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.news_article_tickers OWNER TO postgres;

--
-- Name: news_article_tickers_mapping_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.news_article_tickers_mapping_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.news_article_tickers_mapping_id_seq OWNER TO postgres;

--
-- Name: news_article_tickers_mapping_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.news_article_tickers_mapping_id_seq OWNED BY public.news_article_tickers.mapping_id;


--
-- Name: news_articles_news_article_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.news_articles_news_article_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.news_articles_news_article_id_seq OWNER TO postgres;

--
-- Name: news_articles_news_article_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.news_articles_news_article_id_seq OWNED BY public.news_articles.news_article_id;


--
-- Name: reddit_post_sentiment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reddit_post_sentiment (
    sentiment_id bigint NOT NULL,
    reddit_post_id bigint,
    ticker_id integer,
    sentiment_label character varying(20),
    sentiment_score numeric(5,4),
    positive_score numeric(5,4),
    negative_score numeric(5,4),
    neutral_score numeric(5,4),
    model_name character varying(100),
    model_version character varying(50),
    analyzed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_sentiment_score CHECK (((sentiment_score >= ('-1'::integer)::numeric) AND (sentiment_score <= (1)::numeric)))
);


ALTER TABLE public.reddit_post_sentiment OWNER TO postgres;

--
-- Name: reddit_post_sentiment_sentiment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reddit_post_sentiment_sentiment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reddit_post_sentiment_sentiment_id_seq OWNER TO postgres;

--
-- Name: reddit_post_sentiment_sentiment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reddit_post_sentiment_sentiment_id_seq OWNED BY public.reddit_post_sentiment.sentiment_id;


--
-- Name: reddit_post_tickers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reddit_post_tickers (
    mapping_id bigint NOT NULL,
    reddit_post_id bigint,
    ticker_id integer,
    mention_count integer DEFAULT 1,
    confidence numeric(4,3),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.reddit_post_tickers OWNER TO postgres;

--
-- Name: reddit_post_tickers_mapping_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reddit_post_tickers_mapping_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reddit_post_tickers_mapping_id_seq OWNER TO postgres;

--
-- Name: reddit_post_tickers_mapping_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reddit_post_tickers_mapping_id_seq OWNED BY public.reddit_post_tickers.mapping_id;


--
-- Name: reddit_posts_reddit_post_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reddit_posts_reddit_post_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reddit_posts_reddit_post_id_seq OWNER TO postgres;

--
-- Name: reddit_posts_reddit_post_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reddit_posts_reddit_post_id_seq OWNED BY public.reddit_posts.reddit_post_id;


--
-- Name: sec_filing_sentiment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sec_filing_sentiment (
    sentiment_id bigint NOT NULL,
    filing_id bigint,
    ticker_id integer,
    section character varying(100),
    sentiment_label character varying(20),
    sentiment_score numeric(5,4),
    positive_score numeric(5,4),
    negative_score numeric(5,4),
    neutral_score numeric(5,4),
    model_name character varying(100),
    model_version character varying(50),
    analyzed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_sentiment_score CHECK (((sentiment_score >= ('-1'::integer)::numeric) AND (sentiment_score <= (1)::numeric)))
);


ALTER TABLE public.sec_filing_sentiment OWNER TO postgres;

--
-- Name: sec_filing_sentiment_sentiment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sec_filing_sentiment_sentiment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sec_filing_sentiment_sentiment_id_seq OWNER TO postgres;

--
-- Name: sec_filing_sentiment_sentiment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sec_filing_sentiment_sentiment_id_seq OWNED BY public.sec_filing_sentiment.sentiment_id;


--
-- Name: sec_filings_filing_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sec_filings_filing_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sec_filings_filing_id_seq OWNER TO postgres;

--
-- Name: sec_filings_filing_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sec_filings_filing_id_seq OWNED BY public.sec_filings.filing_id;


--
-- Name: stock_prices_price_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_prices_price_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_prices_price_id_seq OWNER TO postgres;

--
-- Name: stock_prices_price_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_prices_price_id_seq OWNED BY public.stock_prices.price_id;


--
-- Name: summary_data_gaps; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.summary_data_gaps AS
 WITH price_gaps AS (
         SELECT t.symbol,
            sp.date AS gap_end,
            lag(sp.date) OVER (PARTITION BY sp.ticker_id ORDER BY sp.date) AS gap_start,
            (sp.date - lag(sp.date) OVER (PARTITION BY sp.ticker_id ORDER BY sp.date)) AS gap_days
           FROM (public.stock_prices sp
             JOIN public.tickers t ON ((sp.ticker_id = t.ticker_id)))
        )
 SELECT symbol,
    gap_start,
    gap_end,
    gap_days,
        CASE
            WHEN (gap_days <= 3) THEN 'Weekend/Holiday'::text
            WHEN (gap_days <= 7) THEN 'Short Gap'::text
            WHEN (gap_days <= 30) THEN 'Medium Gap'::text
            ELSE 'Long Gap'::text
        END AS gap_severity
   FROM price_gaps
  WHERE (gap_days > 5)
  ORDER BY gap_days DESC, symbol;


ALTER VIEW public.summary_data_gaps OWNER TO taj_machine;

--
-- Name: summary_overall_stats; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.summary_overall_stats AS
 SELECT 'Tickers'::text AS metric,
    (count(*))::text AS value,
    NULL::text AS details
   FROM public.tickers
UNION ALL
 SELECT 'Stock Prices'::text AS metric,
    (count(*))::text AS value,
    concat('Date Range: ', (min(stock_prices.date))::text, ' to ', (max(stock_prices.date))::text, ' (', ((max(stock_prices.date) - min(stock_prices.date)))::text, ' days)') AS details
   FROM public.stock_prices
UNION ALL
 SELECT 'Reddit Posts'::text AS metric,
    (count(*))::text AS value,
    concat('Date Range: ', ((min(reddit_posts.created_utc))::date)::text, ' to ', ((max(reddit_posts.created_utc))::date)::text) AS details
   FROM public.reddit_posts
UNION ALL
 SELECT 'News Articles'::text AS metric,
    (count(*))::text AS value,
    concat('Date Range: ', ((min(news_articles.published_at))::date)::text, ' to ', ((max(news_articles.published_at))::date)::text) AS details
   FROM public.news_articles
UNION ALL
 SELECT 'SEC Filings'::text AS metric,
    (count(*))::text AS value,
    concat('Date Range: ', (min(sec_filings.filing_date))::text, ' to ', (max(sec_filings.filing_date))::text) AS details
   FROM public.sec_filings;


ALTER VIEW public.summary_overall_stats OWNER TO taj_machine;

--
-- Name: summary_price_stats; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.summary_price_stats AS
 WITH daily_returns AS (
         SELECT stock_prices.ticker_id,
            stock_prices.date,
            stock_prices.close,
            (((stock_prices.close - lag(stock_prices.close) OVER (PARTITION BY stock_prices.ticker_id ORDER BY stock_prices.date)) / NULLIF(lag(stock_prices.close) OVER (PARTITION BY stock_prices.ticker_id ORDER BY stock_prices.date), (0)::numeric)) * (100)::numeric) AS daily_return
           FROM public.stock_prices
        ), ticker_stats AS (
         SELECT sp.ticker_id,
            count(*) AS trading_days,
            min(sp.date) AS first_date,
            max(sp.date) AS last_date,
            round(avg(sp.close), 2) AS avg_close_price,
            round(stddev(sp.close), 2) AS price_std_dev,
            min(sp.close) AS min_close,
            max(sp.close) AS max_close,
            round(avg(sp.volume), 0) AS avg_volume,
            round((max(sp.volume))::numeric, 0) AS max_volume
           FROM public.stock_prices sp
          GROUP BY sp.ticker_id
        ), return_stats AS (
         SELECT daily_returns.ticker_id,
            round(avg(daily_returns.daily_return), 4) AS avg_daily_return_pct,
            round(stddev(daily_returns.daily_return), 4) AS return_volatility_pct
           FROM daily_returns
          WHERE (daily_returns.daily_return IS NOT NULL)
          GROUP BY daily_returns.ticker_id
        ), total_returns AS (
         SELECT stock_prices.ticker_id,
            round((((max(stock_prices.close) - min(stock_prices.close)) / NULLIF(min(stock_prices.close), (0)::numeric)) * (100)::numeric), 2) AS total_return_pct
           FROM public.stock_prices
          GROUP BY stock_prices.ticker_id
        )
 SELECT t.symbol,
    t.company_name,
    ts.trading_days,
    ts.first_date,
    ts.last_date,
    ts.avg_close_price,
    ts.price_std_dev,
    ts.min_close,
    ts.max_close,
    ts.avg_volume,
    ts.max_volume,
    rs.avg_daily_return_pct,
    rs.return_volatility_pct,
    tr.total_return_pct
   FROM (((public.tickers t
     JOIN ticker_stats ts ON ((t.ticker_id = ts.ticker_id)))
     LEFT JOIN return_stats rs ON ((t.ticker_id = rs.ticker_id)))
     LEFT JOIN total_returns tr ON ((t.ticker_id = tr.ticker_id)))
  ORDER BY ts.trading_days DESC;


ALTER VIEW public.summary_price_stats OWNER TO taj_machine;

--
-- Name: summary_recent_activity; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.summary_recent_activity AS
 WITH recent_days AS (
         SELECT DISTINCT stock_prices.date
           FROM public.stock_prices
          ORDER BY stock_prices.date DESC
         LIMIT 30
        ), daily_returns AS (
         SELECT stock_prices.date,
            stock_prices.ticker_id,
            (((stock_prices.close - lag(stock_prices.close) OVER (PARTITION BY stock_prices.ticker_id ORDER BY stock_prices.date)) / NULLIF(lag(stock_prices.close) OVER (PARTITION BY stock_prices.ticker_id ORDER BY stock_prices.date), (0)::numeric)) * (100)::numeric) AS daily_return
           FROM public.stock_prices
        )
 SELECT rd.date,
    count(DISTINCT sp.ticker_id) AS tickers_traded,
    round(avg(sp.volume), 0) AS avg_volume,
    count(DISTINCT rp.reddit_post_id) AS reddit_posts,
    count(DISTINCT na.news_article_id) AS news_articles,
    count(DISTINCT sf.filing_id) AS sec_filings,
    round(( SELECT avg(daily_returns.daily_return) AS avg
           FROM daily_returns
          WHERE (daily_returns.date = rd.date)), 2) AS market_avg_return_pct
   FROM ((((recent_days rd
     LEFT JOIN public.stock_prices sp ON ((rd.date = sp.date)))
     LEFT JOIN public.reddit_posts rp ON ((date(rp.created_utc) = rd.date)))
     LEFT JOIN public.news_articles na ON ((date(na.published_at) = rd.date)))
     LEFT JOIN public.sec_filings sf ON ((sf.filing_date = rd.date)))
  GROUP BY rd.date
  ORDER BY rd.date DESC;


ALTER VIEW public.summary_recent_activity OWNER TO taj_machine;

--
-- Name: summary_sector_stats; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.summary_sector_stats AS
 WITH daily_returns AS (
         SELECT sp_1.ticker_id,
            (((sp_1.close - lag(sp_1.close) OVER (PARTITION BY sp_1.ticker_id ORDER BY sp_1.date)) / NULLIF(lag(sp_1.close) OVER (PARTITION BY sp_1.ticker_id ORDER BY sp_1.date), (0)::numeric)) * (100)::numeric) AS daily_return
           FROM public.stock_prices sp_1
        )
 SELECT t.sector,
    count(DISTINCT t.ticker_id) AS ticker_count,
    count(DISTINCT sp.date) AS total_price_records,
    count(DISTINCT rpt.reddit_post_id) AS total_reddit_mentions,
    count(DISTINCT nat.news_article_id) AS total_news_articles,
    count(DISTINCT sf.filing_id) AS total_sec_filings,
    round(avg(rps.sentiment_score), 3) AS avg_reddit_sentiment,
    round(avg(nas.sentiment_score), 3) AS avg_news_sentiment,
    round(( SELECT avg(dr.daily_return) AS avg
           FROM (daily_returns dr
             JOIN public.tickers t2 ON ((dr.ticker_id = t2.ticker_id)))
          WHERE ((t2.sector)::text = (t.sector)::text)), 4) AS avg_daily_return_pct
   FROM ((((((public.tickers t
     LEFT JOIN public.stock_prices sp ON ((t.ticker_id = sp.ticker_id)))
     LEFT JOIN public.reddit_post_tickers rpt ON ((t.ticker_id = rpt.ticker_id)))
     LEFT JOIN public.reddit_post_sentiment rps ON (((rpt.reddit_post_id = rps.reddit_post_id) AND (rpt.ticker_id = rps.ticker_id))))
     LEFT JOIN public.news_article_tickers nat ON ((t.ticker_id = nat.ticker_id)))
     LEFT JOIN public.news_article_sentiment nas ON (((nat.news_article_id = nas.news_article_id) AND (nat.ticker_id = nas.ticker_id))))
     LEFT JOIN public.sec_filings sf ON ((t.ticker_id = sf.ticker_id)))
  WHERE (t.sector IS NOT NULL)
  GROUP BY t.sector
  ORDER BY (count(DISTINCT t.ticker_id)) DESC;


ALTER VIEW public.summary_sector_stats OWNER TO taj_machine;

--
-- Name: summary_sentiment_stats; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.summary_sentiment_stats AS
 WITH reddit_stats AS (
         SELECT 'Reddit'::text AS source,
            count(*) AS total_records,
            round(avg(reddit_post_sentiment.sentiment_score), 4) AS mean_score,
            round((percentile_cont((0.5)::double precision) WITHIN GROUP (ORDER BY ((reddit_post_sentiment.sentiment_score)::double precision)))::numeric, 4) AS median_score,
            round(stddev(reddit_post_sentiment.sentiment_score), 4) AS std_dev,
            min(reddit_post_sentiment.sentiment_score) AS min_score,
            max(reddit_post_sentiment.sentiment_score) AS max_score,
            round((percentile_cont((0.25)::double precision) WITHIN GROUP (ORDER BY ((reddit_post_sentiment.sentiment_score)::double precision)))::numeric, 4) AS percentile_25,
            round((percentile_cont((0.75)::double precision) WITHIN GROUP (ORDER BY ((reddit_post_sentiment.sentiment_score)::double precision)))::numeric, 4) AS percentile_75,
            count(*) FILTER (WHERE (reddit_post_sentiment.sentiment_score > (0)::numeric)) AS positive_count,
            count(*) FILTER (WHERE (reddit_post_sentiment.sentiment_score < (0)::numeric)) AS negative_count,
            count(*) FILTER (WHERE (reddit_post_sentiment.sentiment_score = (0)::numeric)) AS neutral_count,
            count(DISTINCT reddit_post_sentiment.ticker_id) AS unique_tickers
           FROM public.reddit_post_sentiment
        ), news_stats AS (
         SELECT 'News'::text AS source,
            count(*) AS total_records,
            round(avg(news_article_sentiment.sentiment_score), 4) AS mean_score,
            round((percentile_cont((0.5)::double precision) WITHIN GROUP (ORDER BY ((news_article_sentiment.sentiment_score)::double precision)))::numeric, 4) AS median_score,
            round(stddev(news_article_sentiment.sentiment_score), 4) AS std_dev,
            min(news_article_sentiment.sentiment_score) AS min_score,
            max(news_article_sentiment.sentiment_score) AS max_score,
            round((percentile_cont((0.25)::double precision) WITHIN GROUP (ORDER BY ((news_article_sentiment.sentiment_score)::double precision)))::numeric, 4) AS percentile_25,
            round((percentile_cont((0.75)::double precision) WITHIN GROUP (ORDER BY ((news_article_sentiment.sentiment_score)::double precision)))::numeric, 4) AS percentile_75,
            count(*) FILTER (WHERE (news_article_sentiment.sentiment_score > (0)::numeric)) AS positive_count,
            count(*) FILTER (WHERE (news_article_sentiment.sentiment_score < (0)::numeric)) AS negative_count,
            count(*) FILTER (WHERE (news_article_sentiment.sentiment_score = (0)::numeric)) AS neutral_count,
            count(DISTINCT news_article_sentiment.ticker_id) AS unique_tickers
           FROM public.news_article_sentiment
        ), sec_stats AS (
         SELECT 'SEC Filings'::text AS source,
            count(*) AS total_records,
            round(avg(sec_filing_sentiment.sentiment_score), 4) AS mean_score,
            round((percentile_cont((0.5)::double precision) WITHIN GROUP (ORDER BY ((sec_filing_sentiment.sentiment_score)::double precision)))::numeric, 4) AS median_score,
            round(stddev(sec_filing_sentiment.sentiment_score), 4) AS std_dev,
            min(sec_filing_sentiment.sentiment_score) AS min_score,
            max(sec_filing_sentiment.sentiment_score) AS max_score,
            round((percentile_cont((0.25)::double precision) WITHIN GROUP (ORDER BY ((sec_filing_sentiment.sentiment_score)::double precision)))::numeric, 4) AS percentile_25,
            round((percentile_cont((0.75)::double precision) WITHIN GROUP (ORDER BY ((sec_filing_sentiment.sentiment_score)::double precision)))::numeric, 4) AS percentile_75,
            count(*) FILTER (WHERE (sec_filing_sentiment.sentiment_score > (0)::numeric)) AS positive_count,
            count(*) FILTER (WHERE (sec_filing_sentiment.sentiment_score < (0)::numeric)) AS negative_count,
            count(*) FILTER (WHERE (sec_filing_sentiment.sentiment_score = (0)::numeric)) AS neutral_count,
            count(DISTINCT sec_filing_sentiment.ticker_id) AS unique_tickers
           FROM public.sec_filing_sentiment
        )
 SELECT reddit_stats.source,
    reddit_stats.total_records,
    reddit_stats.mean_score,
    reddit_stats.median_score,
    reddit_stats.std_dev,
    reddit_stats.min_score,
    reddit_stats.max_score,
    reddit_stats.percentile_25,
    reddit_stats.percentile_75,
    reddit_stats.positive_count,
    reddit_stats.negative_count,
    reddit_stats.neutral_count,
    reddit_stats.unique_tickers
   FROM reddit_stats
UNION ALL
 SELECT news_stats.source,
    news_stats.total_records,
    news_stats.mean_score,
    news_stats.median_score,
    news_stats.std_dev,
    news_stats.min_score,
    news_stats.max_score,
    news_stats.percentile_25,
    news_stats.percentile_75,
    news_stats.positive_count,
    news_stats.negative_count,
    news_stats.neutral_count,
    news_stats.unique_tickers
   FROM news_stats
UNION ALL
 SELECT sec_stats.source,
    sec_stats.total_records,
    sec_stats.mean_score,
    sec_stats.median_score,
    sec_stats.std_dev,
    sec_stats.min_score,
    sec_stats.max_score,
    sec_stats.percentile_25,
    sec_stats.percentile_75,
    sec_stats.positive_count,
    sec_stats.negative_count,
    sec_stats.neutral_count,
    sec_stats.unique_tickers
   FROM sec_stats;


ALTER VIEW public.summary_sentiment_stats OWNER TO taj_machine;

--
-- Name: summary_ticker_activity; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.summary_ticker_activity AS
 SELECT t.symbol,
    t.company_name,
    count(DISTINCT rpt.reddit_post_id) AS reddit_mentions,
    count(DISTINCT date(rp.created_utc)) AS reddit_active_days,
    round(avg(rp.score), 0) AS reddit_avg_score,
    round(avg(rps.sentiment_score), 3) AS reddit_avg_sentiment,
    count(DISTINCT nat.news_article_id) AS news_mentions,
    count(DISTINCT date(na.published_at)) AS news_active_days,
    round(avg(nas.sentiment_score), 3) AS news_avg_sentiment,
    count(DISTINCT sf.filing_id) AS total_filings,
    count(DISTINCT sf.filing_id) FILTER (WHERE ((sf.form_type)::text = ANY ((ARRAY['10-K'::character varying, '10-Q'::character varying])::text[]))) AS earnings_filings,
    count(DISTINCT sf.filing_id) FILTER (WHERE ((sf.form_type)::text = '8-K'::text)) AS material_event_filings,
    ((((count(DISTINCT rpt.reddit_post_id))::numeric * 1.0) + ((count(DISTINCT nat.news_article_id))::numeric * 2.0)) + ((count(DISTINCT sf.filing_id))::numeric * 5.0)) AS activity_score
   FROM (((((((public.tickers t
     LEFT JOIN public.reddit_post_tickers rpt ON ((t.ticker_id = rpt.ticker_id)))
     LEFT JOIN public.reddit_posts rp ON ((rpt.reddit_post_id = rp.reddit_post_id)))
     LEFT JOIN public.reddit_post_sentiment rps ON (((rpt.reddit_post_id = rps.reddit_post_id) AND (rpt.ticker_id = rps.ticker_id))))
     LEFT JOIN public.news_article_tickers nat ON ((t.ticker_id = nat.ticker_id)))
     LEFT JOIN public.news_articles na ON ((nat.news_article_id = na.news_article_id)))
     LEFT JOIN public.news_article_sentiment nas ON (((nat.news_article_id = nas.news_article_id) AND (nat.ticker_id = nas.ticker_id))))
     LEFT JOIN public.sec_filings sf ON ((t.ticker_id = sf.ticker_id)))
  GROUP BY t.ticker_id, t.symbol, t.company_name
  ORDER BY ((((count(DISTINCT rpt.reddit_post_id))::numeric * 1.0) + ((count(DISTINCT nat.news_article_id))::numeric * 2.0)) + ((count(DISTINCT sf.filing_id))::numeric * 5.0)) DESC;


ALTER VIEW public.summary_ticker_activity OWNER TO taj_machine;

--
-- Name: summary_ticker_availability; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.summary_ticker_availability AS
 SELECT t.symbol,
    t.company_name,
    t.sector,
    count(DISTINCT sp.date) AS price_days,
    min(sp.date) AS price_start_date,
    max(sp.date) AS price_end_date,
        CASE
            WHEN (count(DISTINCT sp.date) = 0) THEN 'None'::text
            WHEN (count(DISTINCT sp.date) < 30) THEN 'Limited'::text
            WHEN (count(DISTINCT sp.date) < 252) THEN 'Partial Year'::text
            ELSE 'Good'::text
        END AS price_coverage,
    count(DISTINCT rpt.reddit_post_id) AS reddit_posts,
    (min(rp.created_utc))::date AS reddit_first_mention,
    (max(rp.created_utc))::date AS reddit_last_mention,
    count(DISTINCT rps.sentiment_id) AS reddit_sentiment_count,
    round(avg(rps.sentiment_score), 3) AS reddit_avg_sentiment,
    count(DISTINCT nat.news_article_id) AS news_articles,
    (min(na.published_at))::date AS news_first_mention,
    (max(na.published_at))::date AS news_last_mention,
    count(DISTINCT nas.sentiment_id) AS news_sentiment_count,
    round(avg(nas.sentiment_score), 3) AS news_avg_sentiment,
    count(DISTINCT sf.filing_id) AS sec_filings,
    count(DISTINCT sf.filing_id) FILTER (WHERE ((sf.form_type)::text = '10-K'::text)) AS sec_10k_count,
    count(DISTINCT sf.filing_id) FILTER (WHERE ((sf.form_type)::text = '10-Q'::text)) AS sec_10q_count,
    count(DISTINCT sf.filing_id) FILTER (WHERE ((sf.form_type)::text = '8-K'::text)) AS sec_8k_count,
    min(sf.filing_date) AS sec_first_filing,
    max(sf.filing_date) AS sec_last_filing,
        CASE
            WHEN ((count(DISTINCT sp.date) > 100) AND (count(DISTINCT rpt.reddit_post_id) > 10) AND (count(DISTINCT nat.news_article_id) > 5)) THEN 'Excellent'::text
            WHEN ((count(DISTINCT sp.date) > 50) AND ((count(DISTINCT rpt.reddit_post_id) > 5) OR (count(DISTINCT nat.news_article_id) > 3))) THEN 'Good'::text
            WHEN (count(DISTINCT sp.date) > 20) THEN 'Moderate'::text
            ELSE 'Limited'::text
        END AS overall_data_quality
   FROM ((((((((public.tickers t
     LEFT JOIN public.stock_prices sp ON ((t.ticker_id = sp.ticker_id)))
     LEFT JOIN public.reddit_post_tickers rpt ON ((t.ticker_id = rpt.ticker_id)))
     LEFT JOIN public.reddit_posts rp ON ((rpt.reddit_post_id = rp.reddit_post_id)))
     LEFT JOIN public.reddit_post_sentiment rps ON (((rpt.reddit_post_id = rps.reddit_post_id) AND (rpt.ticker_id = rps.ticker_id))))
     LEFT JOIN public.news_article_tickers nat ON ((t.ticker_id = nat.ticker_id)))
     LEFT JOIN public.news_articles na ON ((nat.news_article_id = na.news_article_id)))
     LEFT JOIN public.news_article_sentiment nas ON (((nat.news_article_id = nas.news_article_id) AND (nat.ticker_id = nas.ticker_id))))
     LEFT JOIN public.sec_filings sf ON ((t.ticker_id = sf.ticker_id)))
  GROUP BY t.ticker_id, t.symbol, t.company_name, t.sector
  ORDER BY (count(DISTINCT sp.date)) DESC, (count(DISTINCT rpt.reddit_post_id)) DESC;


ALTER VIEW public.summary_ticker_availability OWNER TO taj_machine;

--
-- Name: summary_time_series_density; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.summary_time_series_density AS
 WITH monthly_counts AS (
         SELECT date_trunc('month'::text, (sp.date)::timestamp with time zone) AS month,
            count(DISTINCT sp.ticker_id) AS tickers_with_prices,
            count(*) AS price_records,
            round(avg(sp.volume), 0) AS avg_daily_volume
           FROM public.stock_prices sp
          GROUP BY (date_trunc('month'::text, (sp.date)::timestamp with time zone))
        ), reddit_monthly AS (
         SELECT date_trunc('month'::text, rp.created_utc) AS month,
            count(*) AS reddit_posts,
            count(DISTINCT rpt.ticker_id) AS tickers_mentioned
           FROM (public.reddit_posts rp
             JOIN public.reddit_post_tickers rpt ON ((rp.reddit_post_id = rpt.reddit_post_id)))
          GROUP BY (date_trunc('month'::text, rp.created_utc))
        ), news_monthly AS (
         SELECT date_trunc('month'::text, na.published_at) AS month,
            count(*) AS news_articles,
            count(DISTINCT nat.ticker_id) AS tickers_mentioned
           FROM (public.news_articles na
             JOIN public.news_article_tickers nat ON ((na.news_article_id = nat.news_article_id)))
          GROUP BY (date_trunc('month'::text, na.published_at))
        ), sec_monthly AS (
         SELECT date_trunc('month'::text, (sf.filing_date)::timestamp with time zone) AS month,
            count(*) AS sec_filings,
            count(DISTINCT sf.ticker_id) AS tickers_filing
           FROM public.sec_filings sf
          GROUP BY (date_trunc('month'::text, (sf.filing_date)::timestamp with time zone))
        )
 SELECT COALESCE(mc.month, (rm.month)::timestamp with time zone, (nm.month)::timestamp with time zone, sm.month) AS month,
    COALESCE(mc.tickers_with_prices, (0)::bigint) AS tickers_with_prices,
    COALESCE(mc.price_records, (0)::bigint) AS price_records,
    COALESCE(rm.reddit_posts, (0)::bigint) AS reddit_posts,
    COALESCE(rm.tickers_mentioned, (0)::bigint) AS reddit_ticker_mentions,
    COALESCE(nm.news_articles, (0)::bigint) AS news_articles,
    COALESCE(nm.tickers_mentioned, (0)::bigint) AS news_ticker_mentions,
    COALESCE(sm.sec_filings, (0)::bigint) AS sec_filings,
    COALESCE(sm.tickers_filing, (0)::bigint) AS sec_tickers_filing
   FROM (((monthly_counts mc
     FULL JOIN reddit_monthly rm ON ((mc.month = rm.month)))
     FULL JOIN news_monthly nm ON ((COALESCE(mc.month, (rm.month)::timestamp with time zone) = nm.month)))
     FULL JOIN sec_monthly sm ON ((COALESCE(mc.month, (rm.month)::timestamp with time zone, (nm.month)::timestamp with time zone) = sm.month)))
  ORDER BY COALESCE(mc.month, (rm.month)::timestamp with time zone, (nm.month)::timestamp with time zone, sm.month) DESC;


ALTER VIEW public.summary_time_series_density OWNER TO taj_machine;

--
-- Name: tickers_ticker_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tickers_ticker_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tickers_ticker_id_seq OWNER TO postgres;

--
-- Name: tickers_ticker_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tickers_ticker_id_seq OWNED BY public.tickers.ticker_id;


--
-- Name: trading_calendar; Type: TABLE; Schema: public; Owner: taj_machine
--

CREATE TABLE public.trading_calendar (
    calendar_date date NOT NULL,
    is_trading_day boolean DEFAULT false NOT NULL,
    exchange character varying(10) DEFAULT 'NYSE'::character varying,
    holiday_name character varying(100),
    year integer,
    month integer,
    day_of_week integer,
    quarter integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.trading_calendar OWNER TO taj_machine;

--
-- Name: unified_events_aligned; Type: VIEW; Schema: public; Owner: taj_machine
--

CREATE VIEW public.unified_events_aligned AS
 SELECT t.symbol AS ticker,
    t.ticker_id,
    rp.trading_date,
    rp.created_utc AS original_timestamp,
    'reddit'::text AS source,
    'reddit_post'::text AS event_type,
    rps.sentiment_score AS magnitude,
        CASE
            WHEN (rps.sentiment_score > (0)::numeric) THEN 'positive'::text
            WHEN (rps.sentiment_score < (0)::numeric) THEN 'negative'::text
            ELSE 'neutral'::text
        END AS direction,
    rp.is_market_hours,
    rp.alignment_rule,
    rp.reddit_post_id AS source_id
   FROM (((public.reddit_posts rp
     JOIN public.reddit_post_tickers rpt ON ((rp.reddit_post_id = rpt.reddit_post_id)))
     JOIN public.tickers t ON ((rpt.ticker_id = t.ticker_id)))
     LEFT JOIN public.reddit_post_sentiment rps ON (((rp.reddit_post_id = rps.reddit_post_id) AND (rps.ticker_id = t.ticker_id))))
  WHERE (rp.trading_date IS NOT NULL)
UNION ALL
 SELECT t.symbol AS ticker,
    t.ticker_id,
    na.trading_date,
    na.published_at AS original_timestamp,
    'news'::text AS source,
    'news_article'::text AS event_type,
    nas.sentiment_score AS magnitude,
        CASE
            WHEN (nas.sentiment_score > (0)::numeric) THEN 'positive'::text
            WHEN (nas.sentiment_score < (0)::numeric) THEN 'negative'::text
            ELSE 'neutral'::text
        END AS direction,
    na.is_market_hours,
    na.alignment_rule,
    na.news_article_id AS source_id
   FROM (((public.news_articles na
     JOIN public.news_article_tickers nat ON ((na.news_article_id = nat.news_article_id)))
     JOIN public.tickers t ON ((nat.ticker_id = t.ticker_id)))
     LEFT JOIN public.news_article_sentiment nas ON (((na.news_article_id = nas.news_article_id) AND (nas.ticker_id = t.ticker_id))))
  WHERE (na.trading_date IS NOT NULL)
UNION ALL
 SELECT t.symbol AS ticker,
    t.ticker_id,
    sf.trading_date,
    COALESCE(sf.acceptance_datetime, (sf.filing_date)::timestamp without time zone) AS original_timestamp,
    'sec'::text AS source,
    sf.form_type AS event_type,
    sfs.sentiment_score AS magnitude,
        CASE
            WHEN (sfs.sentiment_score > (0)::numeric) THEN 'positive'::text
            WHEN (sfs.sentiment_score < (0)::numeric) THEN 'negative'::text
            ELSE 'neutral'::text
        END AS direction,
    sf.is_market_hours,
    sf.alignment_rule,
    sf.filing_id AS source_id
   FROM ((public.sec_filings sf
     JOIN public.tickers t ON ((sf.ticker_id = t.ticker_id)))
     LEFT JOIN public.sec_filing_sentiment sfs ON ((sf.filing_id = sfs.filing_id)))
  WHERE (sf.trading_date IS NOT NULL);


ALTER VIEW public.unified_events_aligned OWNER TO taj_machine;

--
-- Name: data_quality_results result_id; Type: DEFAULT; Schema: public; Owner: taj_machine
--

ALTER TABLE ONLY public.data_quality_results ALTER COLUMN result_id SET DEFAULT nextval('public.data_quality_results_result_id_seq'::regclass);


--
-- Name: data_quality_rules rule_id; Type: DEFAULT; Schema: public; Owner: taj_machine
--

ALTER TABLE ONLY public.data_quality_rules ALTER COLUMN rule_id SET DEFAULT nextval('public.data_quality_rules_rule_id_seq'::regclass);


--
-- Name: event_types event_type_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_types ALTER COLUMN event_type_id SET DEFAULT nextval('public.event_types_event_type_id_seq'::regclass);


--
-- Name: events event_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events ALTER COLUMN event_id SET DEFAULT nextval('public.events_event_id_seq'::regclass);


--
-- Name: news_article_sentiment sentiment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_article_sentiment ALTER COLUMN sentiment_id SET DEFAULT nextval('public.news_article_sentiment_sentiment_id_seq'::regclass);


--
-- Name: news_article_tickers mapping_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_article_tickers ALTER COLUMN mapping_id SET DEFAULT nextval('public.news_article_tickers_mapping_id_seq'::regclass);


--
-- Name: news_articles news_article_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_articles ALTER COLUMN news_article_id SET DEFAULT nextval('public.news_articles_news_article_id_seq'::regclass);


--
-- Name: reddit_post_sentiment sentiment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reddit_post_sentiment ALTER COLUMN sentiment_id SET DEFAULT nextval('public.reddit_post_sentiment_sentiment_id_seq'::regclass);


--
-- Name: reddit_post_tickers mapping_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reddit_post_tickers ALTER COLUMN mapping_id SET DEFAULT nextval('public.reddit_post_tickers_mapping_id_seq'::regclass);


--
-- Name: reddit_posts reddit_post_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reddit_posts ALTER COLUMN reddit_post_id SET DEFAULT nextval('public.reddit_posts_reddit_post_id_seq'::regclass);


--
-- Name: sec_filing_sentiment sentiment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sec_filing_sentiment ALTER COLUMN sentiment_id SET DEFAULT nextval('public.sec_filing_sentiment_sentiment_id_seq'::regclass);


--
-- Name: sec_filings filing_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sec_filings ALTER COLUMN filing_id SET DEFAULT nextval('public.sec_filings_filing_id_seq'::regclass);


--
-- Name: stock_prices price_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_prices ALTER COLUMN price_id SET DEFAULT nextval('public.stock_prices_price_id_seq'::regclass);


--
-- Name: tickers ticker_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickers ALTER COLUMN ticker_id SET DEFAULT nextval('public.tickers_ticker_id_seq'::regclass);


--
-- Name: data_quality_results data_quality_results_pkey; Type: CONSTRAINT; Schema: public; Owner: taj_machine
--

ALTER TABLE ONLY public.data_quality_results
    ADD CONSTRAINT data_quality_results_pkey PRIMARY KEY (result_id);


--
-- Name: data_quality_rules data_quality_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: taj_machine
--

ALTER TABLE ONLY public.data_quality_rules
    ADD CONSTRAINT data_quality_rules_pkey PRIMARY KEY (rule_id);


--
-- Name: data_quality_rules data_quality_rules_rule_name_key; Type: CONSTRAINT; Schema: public; Owner: taj_machine
--

ALTER TABLE ONLY public.data_quality_rules
    ADD CONSTRAINT data_quality_rules_rule_name_key UNIQUE (rule_name);


--
-- Name: event_types event_types_event_type_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_types
    ADD CONSTRAINT event_types_event_type_name_key UNIQUE (event_type_name);


--
-- Name: event_types event_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_types
    ADD CONSTRAINT event_types_pkey PRIMARY KEY (event_type_id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (event_id);


--
-- Name: news_article_sentiment news_article_sentiment_news_article_id_ticker_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_article_sentiment
    ADD CONSTRAINT news_article_sentiment_news_article_id_ticker_id_key UNIQUE (news_article_id, ticker_id);


--
-- Name: news_article_sentiment news_article_sentiment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_article_sentiment
    ADD CONSTRAINT news_article_sentiment_pkey PRIMARY KEY (sentiment_id);


--
-- Name: news_article_tickers news_article_tickers_news_article_id_ticker_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_article_tickers
    ADD CONSTRAINT news_article_tickers_news_article_id_ticker_id_key UNIQUE (news_article_id, ticker_id);


--
-- Name: news_article_tickers news_article_tickers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_article_tickers
    ADD CONSTRAINT news_article_tickers_pkey PRIMARY KEY (mapping_id);


--
-- Name: news_articles news_articles_article_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_articles
    ADD CONSTRAINT news_articles_article_id_key UNIQUE (article_id);


--
-- Name: news_articles news_articles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_articles
    ADD CONSTRAINT news_articles_pkey PRIMARY KEY (news_article_id);


--
-- Name: reddit_post_sentiment reddit_post_sentiment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reddit_post_sentiment
    ADD CONSTRAINT reddit_post_sentiment_pkey PRIMARY KEY (sentiment_id);


--
-- Name: reddit_post_sentiment reddit_post_sentiment_reddit_post_id_ticker_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reddit_post_sentiment
    ADD CONSTRAINT reddit_post_sentiment_reddit_post_id_ticker_id_key UNIQUE (reddit_post_id, ticker_id);


--
-- Name: reddit_post_tickers reddit_post_tickers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reddit_post_tickers
    ADD CONSTRAINT reddit_post_tickers_pkey PRIMARY KEY (mapping_id);


--
-- Name: reddit_post_tickers reddit_post_tickers_reddit_post_id_ticker_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reddit_post_tickers
    ADD CONSTRAINT reddit_post_tickers_reddit_post_id_ticker_id_key UNIQUE (reddit_post_id, ticker_id);


--
-- Name: reddit_posts reddit_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reddit_posts
    ADD CONSTRAINT reddit_posts_pkey PRIMARY KEY (reddit_post_id);


--
-- Name: reddit_posts reddit_posts_post_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reddit_posts
    ADD CONSTRAINT reddit_posts_post_id_key UNIQUE (post_id);


--
-- Name: sec_filing_sentiment sec_filing_sentiment_filing_id_section_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sec_filing_sentiment
    ADD CONSTRAINT sec_filing_sentiment_filing_id_section_key UNIQUE (filing_id, section);


--
-- Name: sec_filing_sentiment sec_filing_sentiment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sec_filing_sentiment
    ADD CONSTRAINT sec_filing_sentiment_pkey PRIMARY KEY (sentiment_id);


--
-- Name: sec_filings sec_filings_accession_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sec_filings
    ADD CONSTRAINT sec_filings_accession_number_key UNIQUE (accession_number);


--
-- Name: sec_filings sec_filings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sec_filings
    ADD CONSTRAINT sec_filings_pkey PRIMARY KEY (filing_id);


--
-- Name: stock_prices stock_prices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_prices
    ADD CONSTRAINT stock_prices_pkey PRIMARY KEY (price_id);


--
-- Name: stock_prices stock_prices_ticker_id_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_prices
    ADD CONSTRAINT stock_prices_ticker_id_date_key UNIQUE (ticker_id, date);


--
-- Name: tickers tickers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickers
    ADD CONSTRAINT tickers_pkey PRIMARY KEY (ticker_id);


--
-- Name: tickers tickers_symbol_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tickers
    ADD CONSTRAINT tickers_symbol_key UNIQUE (symbol);


--
-- Name: trading_calendar trading_calendar_pkey; Type: CONSTRAINT; Schema: public; Owner: taj_machine
--

ALTER TABLE ONLY public.trading_calendar
    ADD CONSTRAINT trading_calendar_pkey PRIMARY KEY (calendar_date);


--
-- Name: idx_dq_results_rule; Type: INDEX; Schema: public; Owner: taj_machine
--

CREATE INDEX idx_dq_results_rule ON public.data_quality_results USING btree (rule_id, check_timestamp DESC);


--
-- Name: idx_dq_results_timestamp; Type: INDEX; Schema: public; Owner: taj_machine
--

CREATE INDEX idx_dq_results_timestamp ON public.data_quality_results USING btree (check_timestamp DESC);


--
-- Name: idx_events_ticker_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_ticker_time ON public.events USING btree (ticker_id, event_timestamp DESC);


--
-- Name: idx_events_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_timestamp ON public.events USING btree (event_timestamp DESC);


--
-- Name: idx_events_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_type ON public.events USING btree (event_type_id, event_timestamp DESC);


--
-- Name: idx_news_article_sentiment_article; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_news_article_sentiment_article ON public.news_article_sentiment USING btree (news_article_id);


--
-- Name: idx_news_article_sentiment_score; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_news_article_sentiment_score ON public.news_article_sentiment USING btree (sentiment_score);


--
-- Name: idx_news_article_sentiment_ticker; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_news_article_sentiment_ticker ON public.news_article_sentiment USING btree (ticker_id);


--
-- Name: idx_news_article_tickers_article; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_news_article_tickers_article ON public.news_article_tickers USING btree (news_article_id);


--
-- Name: idx_news_article_tickers_ticker; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_news_article_tickers_ticker ON public.news_article_tickers USING btree (ticker_id);


--
-- Name: idx_news_articles_trading_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_news_articles_trading_date ON public.news_articles USING btree (trading_date);


--
-- Name: idx_news_published; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_news_published ON public.news_articles USING btree (published_at DESC);


--
-- Name: idx_news_source; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_news_source ON public.news_articles USING btree (source, published_at DESC);


--
-- Name: idx_news_url; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_news_url ON public.news_articles USING btree (url);


--
-- Name: idx_reddit_post_sentiment_post; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reddit_post_sentiment_post ON public.reddit_post_sentiment USING btree (reddit_post_id);


--
-- Name: idx_reddit_post_sentiment_score; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reddit_post_sentiment_score ON public.reddit_post_sentiment USING btree (sentiment_score);


--
-- Name: idx_reddit_post_sentiment_ticker; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reddit_post_sentiment_ticker ON public.reddit_post_sentiment USING btree (ticker_id);


--
-- Name: idx_reddit_post_tickers_post; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reddit_post_tickers_post ON public.reddit_post_tickers USING btree (reddit_post_id);


--
-- Name: idx_reddit_post_tickers_ticker; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reddit_post_tickers_ticker ON public.reddit_post_tickers USING btree (ticker_id);


--
-- Name: idx_reddit_posts_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reddit_posts_created ON public.reddit_posts USING btree (created_utc DESC);


--
-- Name: idx_reddit_posts_post_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reddit_posts_post_id ON public.reddit_posts USING btree (post_id);


--
-- Name: idx_reddit_posts_subreddit; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reddit_posts_subreddit ON public.reddit_posts USING btree (subreddit, created_utc DESC);


--
-- Name: idx_reddit_posts_ticker_trading_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reddit_posts_ticker_trading_date ON public.reddit_posts USING btree (trading_date);


--
-- Name: idx_reddit_posts_trading_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reddit_posts_trading_date ON public.reddit_posts USING btree (trading_date);


--
-- Name: idx_sec_filing_sentiment_filing; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sec_filing_sentiment_filing ON public.sec_filing_sentiment USING btree (filing_id);


--
-- Name: idx_sec_filing_sentiment_ticker; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sec_filing_sentiment_ticker ON public.sec_filing_sentiment USING btree (ticker_id);


--
-- Name: idx_sec_filings_accession; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sec_filings_accession ON public.sec_filings USING btree (accession_number);


--
-- Name: idx_sec_filings_form_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sec_filings_form_category ON public.sec_filings USING btree (form_category);


--
-- Name: idx_sec_filings_form_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sec_filings_form_type ON public.sec_filings USING btree (form_type, filing_date DESC);


--
-- Name: idx_sec_filings_ticker; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sec_filings_ticker ON public.sec_filings USING btree (ticker_id, filing_date DESC);


--
-- Name: idx_sec_filings_trading_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sec_filings_trading_date ON public.sec_filings USING btree (trading_date);


--
-- Name: idx_stock_prices_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_prices_date ON public.stock_prices USING btree (date DESC);


--
-- Name: idx_stock_prices_ticker_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_prices_ticker_date ON public.stock_prices USING btree (ticker_id, date DESC);


--
-- Name: idx_tickers_symbol; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tickers_symbol ON public.tickers USING btree (symbol);


--
-- Name: idx_trading_calendar_trading_days; Type: INDEX; Schema: public; Owner: taj_machine
--

CREATE INDEX idx_trading_calendar_trading_days ON public.trading_calendar USING btree (calendar_date) WHERE (is_trading_day = true);


--
-- Name: idx_trading_calendar_year_month; Type: INDEX; Schema: public; Owner: taj_machine
--

CREATE INDEX idx_trading_calendar_year_month ON public.trading_calendar USING btree (year, month);


--
-- Name: news_articles news_article_alignment_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER news_article_alignment_trigger BEFORE INSERT OR UPDATE OF published_at ON public.news_articles FOR EACH ROW EXECUTE FUNCTION public.align_news_article_dates();


--
-- Name: reddit_posts reddit_post_alignment_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER reddit_post_alignment_trigger BEFORE INSERT OR UPDATE OF created_utc ON public.reddit_posts FOR EACH ROW EXECUTE FUNCTION public.align_reddit_post_dates();


--
-- Name: sec_filings sec_filing_alignment_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER sec_filing_alignment_trigger BEFORE INSERT OR UPDATE OF acceptance_datetime, filing_date ON public.sec_filings FOR EACH ROW EXECUTE FUNCTION public.align_sec_filing_dates();


--
-- Name: tickers update_tickers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_tickers_updated_at BEFORE UPDATE ON public.tickers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: data_quality_results data_quality_results_rule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: taj_machine
--

ALTER TABLE ONLY public.data_quality_results
    ADD CONSTRAINT data_quality_results_rule_id_fkey FOREIGN KEY (rule_id) REFERENCES public.data_quality_rules(rule_id);


--
-- Name: events events_event_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_event_type_id_fkey FOREIGN KEY (event_type_id) REFERENCES public.event_types(event_type_id);


--
-- Name: events events_ticker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_ticker_id_fkey FOREIGN KEY (ticker_id) REFERENCES public.tickers(ticker_id) ON DELETE CASCADE;


--
-- Name: news_article_sentiment news_article_sentiment_news_article_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_article_sentiment
    ADD CONSTRAINT news_article_sentiment_news_article_id_fkey FOREIGN KEY (news_article_id) REFERENCES public.news_articles(news_article_id) ON DELETE CASCADE;


--
-- Name: news_article_sentiment news_article_sentiment_ticker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_article_sentiment
    ADD CONSTRAINT news_article_sentiment_ticker_id_fkey FOREIGN KEY (ticker_id) REFERENCES public.tickers(ticker_id) ON DELETE CASCADE;


--
-- Name: news_article_tickers news_article_tickers_news_article_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_article_tickers
    ADD CONSTRAINT news_article_tickers_news_article_id_fkey FOREIGN KEY (news_article_id) REFERENCES public.news_articles(news_article_id) ON DELETE CASCADE;


--
-- Name: news_article_tickers news_article_tickers_ticker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_article_tickers
    ADD CONSTRAINT news_article_tickers_ticker_id_fkey FOREIGN KEY (ticker_id) REFERENCES public.tickers(ticker_id) ON DELETE CASCADE;


--
-- Name: reddit_post_sentiment reddit_post_sentiment_reddit_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reddit_post_sentiment
    ADD CONSTRAINT reddit_post_sentiment_reddit_post_id_fkey FOREIGN KEY (reddit_post_id) REFERENCES public.reddit_posts(reddit_post_id) ON DELETE CASCADE;


--
-- Name: reddit_post_sentiment reddit_post_sentiment_ticker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reddit_post_sentiment
    ADD CONSTRAINT reddit_post_sentiment_ticker_id_fkey FOREIGN KEY (ticker_id) REFERENCES public.tickers(ticker_id) ON DELETE CASCADE;


--
-- Name: reddit_post_tickers reddit_post_tickers_reddit_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reddit_post_tickers
    ADD CONSTRAINT reddit_post_tickers_reddit_post_id_fkey FOREIGN KEY (reddit_post_id) REFERENCES public.reddit_posts(reddit_post_id) ON DELETE CASCADE;


--
-- Name: reddit_post_tickers reddit_post_tickers_ticker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reddit_post_tickers
    ADD CONSTRAINT reddit_post_tickers_ticker_id_fkey FOREIGN KEY (ticker_id) REFERENCES public.tickers(ticker_id) ON DELETE CASCADE;


--
-- Name: sec_filing_sentiment sec_filing_sentiment_filing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sec_filing_sentiment
    ADD CONSTRAINT sec_filing_sentiment_filing_id_fkey FOREIGN KEY (filing_id) REFERENCES public.sec_filings(filing_id) ON DELETE CASCADE;


--
-- Name: sec_filing_sentiment sec_filing_sentiment_ticker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sec_filing_sentiment
    ADD CONSTRAINT sec_filing_sentiment_ticker_id_fkey FOREIGN KEY (ticker_id) REFERENCES public.tickers(ticker_id) ON DELETE CASCADE;


--
-- Name: sec_filings sec_filings_ticker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sec_filings
    ADD CONSTRAINT sec_filings_ticker_id_fkey FOREIGN KEY (ticker_id) REFERENCES public.tickers(ticker_id) ON DELETE CASCADE;


--
-- Name: stock_prices stock_prices_ticker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_prices
    ADD CONSTRAINT stock_prices_ticker_id_fkey FOREIGN KEY (ticker_id) REFERENCES public.tickers(ticker_id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO joe_machine;
GRANT USAGE ON SCHEMA public TO taj_machine;


--
-- Name: TABLE news_articles; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.news_articles TO joe_machine;
GRANT ALL ON TABLE public.news_articles TO taj_machine;


--
-- Name: TABLE reddit_posts; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.reddit_posts TO joe_machine;
GRANT ALL ON TABLE public.reddit_posts TO taj_machine;


--
-- Name: TABLE sec_filings; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.sec_filings TO joe_machine;
GRANT ALL ON TABLE public.sec_filings TO taj_machine;


--
-- Name: TABLE stock_prices; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.stock_prices TO joe_machine;
GRANT ALL ON TABLE public.stock_prices TO taj_machine;


--
-- Name: TABLE tickers; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.tickers TO joe_machine;
GRANT ALL ON TABLE public.tickers TO taj_machine;


--
-- Name: TABLE event_types; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.event_types TO joe_machine;
GRANT ALL ON TABLE public.event_types TO taj_machine;


--
-- Name: SEQUENCE event_types_event_type_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.event_types_event_type_id_seq TO joe_machine;
GRANT ALL ON SEQUENCE public.event_types_event_type_id_seq TO taj_machine;


--
-- Name: TABLE events; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.events TO joe_machine;
GRANT ALL ON TABLE public.events TO taj_machine;


--
-- Name: SEQUENCE events_event_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.events_event_id_seq TO joe_machine;
GRANT ALL ON SEQUENCE public.events_event_id_seq TO taj_machine;


--
-- Name: TABLE news_article_sentiment; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.news_article_sentiment TO joe_machine;
GRANT ALL ON TABLE public.news_article_sentiment TO taj_machine;


--
-- Name: SEQUENCE news_article_sentiment_sentiment_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.news_article_sentiment_sentiment_id_seq TO joe_machine;
GRANT ALL ON SEQUENCE public.news_article_sentiment_sentiment_id_seq TO taj_machine;


--
-- Name: TABLE news_article_tickers; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.news_article_tickers TO joe_machine;
GRANT ALL ON TABLE public.news_article_tickers TO taj_machine;


--
-- Name: SEQUENCE news_article_tickers_mapping_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.news_article_tickers_mapping_id_seq TO joe_machine;
GRANT ALL ON SEQUENCE public.news_article_tickers_mapping_id_seq TO taj_machine;


--
-- Name: SEQUENCE news_articles_news_article_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.news_articles_news_article_id_seq TO joe_machine;
GRANT ALL ON SEQUENCE public.news_articles_news_article_id_seq TO taj_machine;


--
-- Name: TABLE reddit_post_sentiment; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.reddit_post_sentiment TO joe_machine;
GRANT ALL ON TABLE public.reddit_post_sentiment TO taj_machine;


--
-- Name: SEQUENCE reddit_post_sentiment_sentiment_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.reddit_post_sentiment_sentiment_id_seq TO joe_machine;
GRANT ALL ON SEQUENCE public.reddit_post_sentiment_sentiment_id_seq TO taj_machine;


--
-- Name: TABLE reddit_post_tickers; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.reddit_post_tickers TO joe_machine;
GRANT ALL ON TABLE public.reddit_post_tickers TO taj_machine;


--
-- Name: SEQUENCE reddit_post_tickers_mapping_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.reddit_post_tickers_mapping_id_seq TO joe_machine;
GRANT ALL ON SEQUENCE public.reddit_post_tickers_mapping_id_seq TO taj_machine;


--
-- Name: SEQUENCE reddit_posts_reddit_post_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.reddit_posts_reddit_post_id_seq TO joe_machine;
GRANT ALL ON SEQUENCE public.reddit_posts_reddit_post_id_seq TO taj_machine;


--
-- Name: TABLE sec_filing_sentiment; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.sec_filing_sentiment TO joe_machine;
GRANT ALL ON TABLE public.sec_filing_sentiment TO taj_machine;


--
-- Name: SEQUENCE sec_filing_sentiment_sentiment_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.sec_filing_sentiment_sentiment_id_seq TO joe_machine;
GRANT ALL ON SEQUENCE public.sec_filing_sentiment_sentiment_id_seq TO taj_machine;


--
-- Name: SEQUENCE sec_filings_filing_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.sec_filings_filing_id_seq TO joe_machine;
GRANT ALL ON SEQUENCE public.sec_filings_filing_id_seq TO taj_machine;


--
-- Name: SEQUENCE stock_prices_price_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.stock_prices_price_id_seq TO joe_machine;
GRANT ALL ON SEQUENCE public.stock_prices_price_id_seq TO taj_machine;


--
-- Name: SEQUENCE tickers_ticker_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.tickers_ticker_id_seq TO joe_machine;
GRANT ALL ON SEQUENCE public.tickers_ticker_id_seq TO taj_machine;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO taj_machine;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO joe_machine;


--
-- PostgreSQL database dump complete
--

\unrestrict GouDNzWFvwbjyBbnaf0kYoXwRvlxKssXhb8EL7LyKen66q0rcXctFX58CxCarwe

